// Place all the styles related to the admin::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-header {
  h1 {
    font-size: 24px;
  }
  background-color: azure;
  padding: 25px;
  border: 1px solid;
}

.admin-main {
  display: flex;
  nav {
    width: 200px;
    background-color: lightgrey;
    border-right: 1px solid;
    li {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      border-bottom: 1px solid;
      &.selected {
        font-weight: 100;
        background-color: white;
        box-shadow: 0 5px 5px -1px #ccc inset;
      }
    }
  }
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    h2 {
      height: 10%;
      padding: 30px;
    }
    .movies-table {
      margin: 0 60px;
      border-collapse: collapse;
      thead {
        background-color:#0077cc;
        color: white;
        height: 30px;
        th {
          width: 12.5%;
          text-align: center;
          border: 1px solid lightgrey;
        }
      }
      tbody {
        font-size: 14px;
        td {
          text-align: center;
          border: 1px solid black;
          div {
            width: 10vw;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}