// Place all the styles related to the admin::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-header {
  h1 {
    font-size: 24px;
  }
  background-color: azure;
  padding: 25px;
  border: 1px solid;
}

.admin-main {
  display: flex;
  nav {
    width: 200px;
    background-color: gainsboro;
    border-right: 1px solid;
    li {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      border-bottom: 1px solid;
      &.selected {
        font-weight: 100;
        background-color: white;
        box-shadow: 0 5px 5px -1px #ccc inset;
      }
    }
  }
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    h2 {
      height: 10%;
      padding: 30px;
    }
    .movies-table {
      margin: 0 auto 50px auto;
      border-collapse: collapse;
      thead {
        background-color:#0077cc;
        color: white;
        height: 30px;
        th {
          width: 12.5%;
          text-align: center;
          border: 1px solid gainsboro;
        }
      }
      tbody {
        font-size: 14px;
        td {
          text-align: center;
          border: 1px solid black;
          div {
            width: 10vw;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 20px 50px 20px;
      .form-input {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 10px;
        background-color: gainsboro;
        label {
          border: 1px solid;
          width: 10%;
          padding: 10px;
          margin-right: 20px;
          margin-bottom: 10px;
        }
        input, textarea {
          width: calc(90% - 70px);
          margin-bottom: 10px;
          padding: 0 10px;
          &.is-showing {
            width: 50px;
            margin-right: calc(90% - 96px);
          }
        }
        textarea {
          padding-top: 5px;
        }
      }
      .form-btns {
        flex: 1;
        text-align: right;
        padding: 15px;
        .close-btn {
          // 形・大きさ
          vertical-align: top;
          display: inline-block;
          border: 1px solid;
          width: 60px;
          height: 28px;
          border-radius: 4px;
          text-align: center;
          line-height: 28px;
          // 色・文字
          background-color: grey;
          color: white;
          text-decoration: none;
          &:visited {
            color: white;
          }
        }
        .save-btn {
          // 形・大きさ
          vertical-align: top;
          width: 80px;
          height: 30px;
          border: 1px solid;
          border-radius: 4px;
          // 色・文字
          background-color: #007bff;
          color: white;
          font-size: 17px;
        }
      }
    }
  }
}