.sheets-list {
  display: flex;
  flex-direction: column;
  padding: 40px;
  .screen {
    text-align: center;
    background-color: gainsboro;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    font-size: 24px;
    font-weight: 600;
  }
  .sheets-table {
    text-align: center;
    margin: 0 auto;
    border-spacing: 35px 25px;
    th, td {
      width: 70px;
      height: 70px;
      font-size: 22px;
    }
    th {
      vertical-align: bottom;
    }
    .sheet {
      background-color: gainsboro;
    }
  }
}
